{% extends 'base.html.twig' %}

{% block title %}
    Canals
{% endblock %}

{% block body %}
<h1>Canals</h1>
{% for canal in canals %}
    <ul>
        <li>{{ canal.id }}</li>
        <li>{{ canal.name }}</li>
    </ul>
{% endfor %}

{% endblock %}